.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation: fadeIn 0.8s ease-in-out alternate infinite;
}

@keyframes fadeIn {
  0% {
    scale:1;
  }
  50% {
    scale:2;
  }
  100% {
    scale:1;
  }
}

/* .font-face-gm {
  font-family: 'retropix';
} */

@keyframes heartBeat {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.heart {
  font-size: 24px; /* Adjust the size of the heart icon */
  color: red; /* You can adjust the color of the heart */
  animation-name: heartBeat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes heartBeat {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.heart {
  font-size: 48px; /* Adjust the size of the heart icon */
  color: red; /* You can adjust the color of the heart */
  animation-name: heartBeat;
  animation-duration: 2s; /* Synced with the text animation */
  animation-iteration-count: infinite;
  position: absolute; /* Position heart icon relative to text */
  top: 50%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center heart icon */
}

html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Use 100vh to make it take the full viewport height */
  background-color: #F3E8E2;
  padding: 33.5px;
  box-sizing: border-box;
}

.fadeInTitle {
  font-size: 4rem; /* Responsive font size */
  text-align: center;
  color: black;
  animation: fadeIn 2s ease-in-out;
  margin-bottom: 20px; /* Add some space below the title */
}

.highlight {
  color: #D1510A; /* Make the 'Match' text stand out */
}

.createAccountButton {
  align-self: center;
  background-color: #D1510A;
  font-size: 1.5rem;
  color: white;
  padding: 15px 45px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
  border-radius: 40px;
}

.createAccountButton:hover {
  background-color: #F57336; /* Lighter shade on hover */
  color: #FFF;
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes vibrate-animation {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, 2px); }
  40% { transform: translate(-2px, -2px); }
  60% { transform: translate(2px, 2px); }
  80% { transform: translate(2px, -2px); }
  100% { transform: translate(0); }
}
